{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Aque Larade</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
		<style>
			{% block style %}
			{% endblock style %}
			body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
		</style>
	</head>

	<body class="w3-light-grey w3-content" style="max-width:1600px">
		<!-- Sidebar/menu -->
		<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
		  <div class="w3-container">
			<a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
			  <i class="fa fa-remove"></i>
			</a>
			<img src="{% static 'images/Arnold1.jpeg' %}" style="width:45%;" class="w3-round"><br><br>
			<h4><b>ARNOLD KAMAU</b></h4>
			<p class="w3-text-grey">System Developer</p>
		  </div>
		  <div class="w3-bar-block">
			<a href="{% url 'home' %}#portfolio" onclick="w3_close()" id="home-link" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a> 
			<a href="{% url 'home' %}#about" onclick="w3_close()" id="about-link" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT ME</a> 
			<a href="{% url 'home' %}#skills" onclick="w3_close()" id="skills-link" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw w3-margin-right"></i>SKILLS</a> 
			<a href="{% url 'home' %}#contact" onclick="w3_close()" id="contact-link" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
		  </div>
		  <div class="w3-panel w3-large">
			  <a href="https://github.com/laradeaque" target="_blank"><i class="fa fa-github w3-hover-opacity w3-margin-right"></i></a>
			  <a href="https://www.linkedin.com/in/aquelarade" target="_blank"><i class="fa fa-linkedin w3-hover-opacity w3-margin-right"></i></a>
			  <a href="https:masto.yttrx.com/@larade" target="_blank">
				  <svg xmlns="http://www.w3.org/2000/svg" style="width:1em;height:1em" viewBox="0 0 448 512">
					  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
					  <path d="M433 179.1c0-97.2-63.7-125.7-63.7-125.7-62.5-28.7-228.6-28.4-290.5 0 0 0-63.7 28.5-63.7 125.7 0 115.7-6.6 259.4 105.6 289.1 40.5 10.7 75.3 13 103.3 11.4 50.8-2.8 79.3-18.1 79.3-18.1l-1.7-36.9s-36.3 11.4-77.1 10.1c-40.4-1.4-83-4.4-89.6-54a102.5 102.5 0 0 1 -.9-13.9c85.6 20.9 158.7 9.1 178.8 6.7 56.1-6.7 105-41.3 111.2-72.9 9.8-49.8 9-121.5 9-121.5zm-75.1 125.2h-46.6v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.3V197c0-58.5-64-56.6-64-6.9v114.2H90.2c0-122.1-5.2-147.9 18.4-175 25.9-28.9 79.8-30.8 103.8 6.1l11.6 19.5 11.6-19.5c24.1-37.1 78.1-34.8 103.8-6.1 23.7 27.3 18.4 53 18.4 175z"/>
				  </svg>
			  </a>
		  </div>
		</nav>

		<!-- Overlay effect when opening sidebar on small screens -->
		<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

		<!-- !PAGE CONTENT! -->
		<div class="w3-main" style="margin-left:300px">
		  <div class="w3-container">
			  {% for msg in messages %}
			      <div style="position:fixed;bottom:5px;left:5px;padding:14px 24px;background:#ccc;border-radius:8px;z-index:9999">
					  {{msg}}
					  <span style="padding:7px 11px;cursor:pointer;border-radius:8px;background:white;" class="w3-margin-left" onclick="this.parent.style.diplay='none'">&times;</span>
			      </div>
			  {% endfor %}
		  </div>
		  {% block main %}
		  {% endblock main %}
		  
		  <!-- Footer -->
		  <footer class="w3-container w3-padding-32 w3-dark-grey">
			  {% block footer %}
			  {% endblock footer %}
		  </footer>
		  <div class="w3-black w3-center w3-padding-24">Coping and Sharing is an <a href="https://github.com/laradeaque" target="_blank" class="w3-text-green w3-hover-opacity">Act of Love</a> 2024</div>
		<!-- End page content -->
		</div>

		<script>
			{% block script %}
			{% endblock script %}
			// Script to open and close sidebar
			function w3_open() {
				document.getElementById("mySidebar").style.display = "block";
				document.getElementById("myOverlay").style.display = "block";
			}
			 
			function w3_close() {
				document.getElementById("mySidebar").style.display = "none";
				document.getElementById("myOverlay").style.display = "none";
			}
		</script>

	</body>
</html>


